#status {
  background: linear-gradient(to right, #239e38, transparent);
  border-radius: 4px;
  color: #fff;
  padding: 10px;
  pointer-events: none;
}

#status > p {
  display: flex;
  justify-content: space-between;
}

#temperature {
  font-weight: bold;
}
