#status {
  position: fixed;
  top: 24px;
  left: 24px;
  width: 150px;
  background: linear-gradient(to right, #239e38, #333300);
  border-radius: 4px;
  color: #fff;
  padding: 10px;
}

#status > p {
  display: flex;
  justify-content: space-between;
}

#temperature {
  font-weight: bold;
}
